your-domain.com {
    @cors_preflight {
            method OPTIONS
    }
    respond @cors_preflight 204

    header {
            Access-Control-Allow-Origin *
            Access-Control-Allow-Methods GET,POST,OPTIONS,HEAD,PATCH,PUT,DELETE
            Access-Control-Allow-Headers User-Agent,Content-Type,X-Api-Key
            Access-Control-Max-Age 86400
    }
    reverse_proxy :8645
}